<li class="list-group-item">{{#link-to 'question' question.id}}{{question.author}} asked: "{{question.question}}"{{/link-to}} <span class="question-list-answer-count">Answers: {{question.answers.length}}</span></li>
